name: Keep Render Alive

on:
  schedule:
    - cron: "*/4 * * * *"   # Runs every 4 minutes
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render app with GET request
        run: |
          curl -s -o /dev/null -w "%{http_code}" https://share-karo.onrender.com

